@import "tailwindcss";
/* styles/glass.css */
.glass-effect {
    @apply border border-white/30 shadow-[0_4px_30px_rgba(0,0,0,0.1)] 
           backdrop-blur-[7.1px] bg-white/0;
    -webkit-backdrop-filter: blur(7.1px); /* Safari */
  }

.custom-scroll::-webkit-scrollbar {
    display: none;
}